<!DOCTYPE HTML>
<HTML>   
    
    <head>
    </head>

    <body>
        <h1> 
        Esta es la página de Guía
        </h1>
        <%= link_to 'Welcome', root_path %>
       

    </body>

<HTML>